@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="container">
    <div class="row justify-content-center mt-6">
        <div class="col-md-6 text-center">
            <h1 class="navbar-text">Welcome to CRUDelicious</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-2 text-center">
            <a class="btn btn-link-lg" href="/">Home</a>
        </div>
        <div class="col-md-1 text-center">
            <span>|</span>
        </div>
        <div class="col-md-2 text-center">
            <a class="btn btn-link-lg" href="/Dishs/new">Add Dish</a>
        </div>
    </div>
    <div class="container mt-3">
        <ul>
            @foreach (Dish d in Model)
            {
                <li><a href="/dishs/@d.Id">@d.ChefName</a> by @d.NameofDish</li>
            }
        </ul>
    </div>
</div>