@model DojoSurveyWithModel.Models.User

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Here are the results</h1>
            <h2><span class="fw-bold">Name:</span> @Model.Name</h2>
            <h2><span class="fw-bold">Location:</span> @Model.Location</h2>
            <h2><span class="fw-bold">Favorite Language:</span> @Model.FavLang</h2>
            <h2><span class="fw-bold">Comment:</span> @Model.Comment</h2>
            <a href="/" class="btn btn-info mt-3">Go Back</a>
        </div>
    </div>
</div>
