<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Fill out this survey</h1>
        <form action="/process" method="post" class="col-6">
            <div class="mb-3">
                <label for="Name">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Location">Location</label>
                <select name="location" class="form-control">
                    <option value="San Jose">San Jose</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="FavLang">Favorite Language</label>
                <select name="favLang" class="form-control">
                    <option value="C#">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Comment">Comment</label>
                <textarea name="comment" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>
