<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/projects">Projects</a>
        <span> | </span>
        <a href="/contact">Contact</a>
    </div>
    <div class="content">
        <h1 class="center">My Projects</h1>
        <div class="projects">
            <div class="project">
                <img class="projectimg" src="~/images/project1.jpg" alt="project1">
                <div class="info">
                    <h3>E-commerce Website</h3>
                    <p>This project involved developing a fully functional e-commerce website using React.js for the frontend and Node.js with Express.js for the backend. Users can browse products, add them to cart, and securely checkout using Stripe integration.</p>
                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/project2.jpg" alt="project2">
                <div class="info">
                    <h3>Weather App</h3>
                    <p>This project involved creating my personal portfolio website using HTML, CSS, and JavaScript. The website showcases my skills, projects, and contact information in an elegant and professional manner.</p>
                    <p>Additional features include geolocation support, hourly and weekly forecasts, and customizable units (e.g., Celsius or Fahrenheit).</p>
                    <p>Technologies used: Vue.js, Axios, RESTFUL API.</p>

                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/project3.jpg" alt="project3">
                <div class="info">
                    <h3>Portfolio Website</h3>
                    <p>This project involved creating my personal portfolio website using HTML, CSS, and JavaScript. The website showcases my skills, projects, and contact information in an elegant and professional manner.</p>
                    <p>Key features include responsive design for mobile and desktop, a projects gallery with detailed descriptions, and a contact form for potential clients or collaborators.</p>
                    <p>Technologies used: HTML, CSS, JavaScript.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>