@model List<int>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col">
            <a href="/" class="btn btn-primary">Message</a>
        </div>
        <div class="col">
            <a href="/numbers" class="btn btn-primary">Numbers</a>
        </div>
        <div class="col">
            <a href="/user" class="btn btn-primary">User</a>
        </div>
        <div class="col">
            <a href="/users" class="btn btn-primary">Users</a>
        </div>
    </div>

    <h1 class="mt-5">Here are some numbers</h1>

    <div class="row justify-content-center">
        <div class="col">
            @foreach(int i in Model)
            {
                <p>@i</p>
            }
        </div>
    </div>
</div>
