@{
    ViewData["Title"] = "Home Page";
}
@model FormSubmission.Models.User
<div class="text-center">
    <h1>Enter you Information</h1>
    <form asp-action="Process" method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FavOddNumber"></label>
            <input asp-for="FavOddNumber" class="form-control">
            <span asp-validation-for="FavOddNumber" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>