body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

.timecards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px;
    width: 200px;
}

.remaining {
    margin-top: 50px;
}

h2 {
    color: #007bff;
}

h3 {
    color: #333;
    margin-top: 10px;
}
