<div class="container">
    <div class="row justify-content-end mt-3">
        <div class="col-md-3 text-end">
            <form asp-action="Logout">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 text-center">
            <h1 class="display-3">Success !</h1>
        </div>
    </div>
</div>