@model DojoSurveywithValidations.Models.User

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Fill out this survey</h1>
            <form asp-action="Process" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Location" class="form-label"></label>
                    <select asp-for="Location" class="form-select">
                        <option value="San Jose">San Jose</option>
                        <option value="Burbank">Burbank</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Dallas">Dallas</option>
                    </select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FavLang" class="form-label"></label>
                    <select asp-for="FavLang" class="form-select">
                        <option value="C#">C#</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="Rust">Ruby</option>
                    </select>
                    <span asp-validation-for="FavLang" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Comment" class="form-label"></label>
                    <textarea asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
